/*
================================================================================
|                                     TAGS                                     |
================================================================================
*/
body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  font: 12px "OpenSans", Arial, sans-serif;
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

input[type="button"], input[type="submit"], button {
  cursor: pointer;
}

td {
  margin: 0px;
  padding: 0px;
}

form {
  padding: 0px;
  margin: 0px;
}

a {
  color: #000100;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
}

input[type=submit], input[type=button] {
  -webkit-appearance: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after, .wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.out {
  min-width: 320px;
  overflow: hidden;
}

h2 {
  text-align: center;
  font-size: 30px;
  line-height: 3;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.icons-bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 50px 0;
}

.icons-bg li {
  width: 16.6666%;
  margin-bottom: 30px;
  text-align: center;
}

.icons-bg__icon {
  margin: 0 auto;
}

.icons-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 50px 0;
}

.icons-img li {
  width: 16.6666%;
  margin-bottom: 30px;
  text-align: center;
}

.icons-img__icon {
  margin: 0 auto;
}

.boiler-1 {
  background-image: url(../img/sprite.png);
  background-position: -455px -576px;
  width: 25px;
  height: 38px;
}

.boiler-2 {
  background-image: url(../img/sprite.png);
  background-position: -525px -672px;
  width: 25px;
  height: 38px;
}

.boiler-3 {
  background-image: url(../img/sprite.png);
  background-position: -490px -624px;
  width: 25px;
  height: 38px;
}

.boiler-4 {
  background-image: url(../img/sprite.png);
  background-position: -560px -720px;
  width: 25px;
  height: 38px;
}

.boiler-5 {
  background-image: url(../img/sprite.png);
  background-position: -595px -768px;
  width: 25px;
  height: 38px;
}

.boiler-6 {
  background-image: url(../img/sprite.png);
  background-position: -735px -960px;
  width: 25px;
  height: 38px;
}

.holod-1 {
  background-image: url(../img/sprite.png);
  background-position: -840px -1104px;
  width: 25px;
  height: 52px;
}

.holod-2 {
  background-image: url(../img/sprite.png);
  background-position: -910px -1228px;
  width: 25px;
  height: 52px;
}

.holod-3 {
  background-image: url(../img/sprite.png);
  background-position: -945px -1290px;
  width: 25px;
  height: 52px;
}

.holod-4 {
  background-image: url(../img/sprite.png);
  background-position: -980px -1352px;
  width: 25px;
  height: 52px;
}

.holod-5 {
  background-image: url(../img/sprite.png);
  background-position: -875px -1166px;
  width: 25px;
  height: 52px;
}

.holod-6 {
  background-image: url(../img/sprite.png);
  background-position: -1015px -1414px;
  width: 25px;
  height: 52px;
}

.kolonka-1 {
  background-image: url(../img/sprite.png);
  background-position: -385px -481px;
  width: 25px;
  height: 37px;
}

.kolonka-2 {
  background-image: url(../img/sprite.png);
  background-position: -350px -434px;
  width: 25px;
  height: 37px;
}

.kolonka-3 {
  background-image: url(../img/sprite.png);
  background-position: -315px -387px;
  width: 25px;
  height: 37px;
}

.kolonka-4 {
  background-image: url(../img/sprite.png);
  background-position: -210px -246px;
  width: 25px;
  height: 37px;
}

.kolonka-5 {
  background-image: url(../img/sprite.png);
  background-position: -280px -340px;
  width: 25px;
  height: 37px;
}

.kolonka-6 {
  background-image: url(../img/sprite.png);
  background-position: -245px -293px;
  width: 25px;
  height: 37px;
}

.kotel-1 {
  background-image: url(../img/sprite.png);
  background-position: -630px -816px;
  width: 25px;
  height: 38px;
}

.kotel-2 {
  background-image: url(../img/sprite.png);
  background-position: -665px -864px;
  width: 25px;
  height: 38px;
}

.kotel-3 {
  background-image: url(../img/sprite.png);
  background-position: -700px -912px;
  width: 25px;
  height: 38px;
}

.kotel-4 {
  background-image: url(../img/sprite.png);
  background-position: -420px -528px;
  width: 25px;
  height: 38px;
}

.kotel-5 {
  background-image: url(../img/sprite.png);
  background-position: -770px -1008px;
  width: 25px;
  height: 38px;
}

.kotel-6 {
  background-image: url(../img/sprite.png);
  background-position: -805px -1056px;
  width: 25px;
  height: 38px;
}

.plita-1 {
  background-image: url(../img/sprite.png);
  background-position: -175px -205px;
  width: 25px;
  height: 31px;
}

.plita-2 {
  background-image: url(../img/sprite.png);
  background-position: -140px -164px;
  width: 25px;
  height: 31px;
}

.plita-3 {
  background-image: url(../img/sprite.png);
  background-position: -105px -123px;
  width: 25px;
  height: 31px;
}

.plita-4 {
  background-image: url(../img/sprite.png);
  background-position: -70px -82px;
  width: 25px;
  height: 31px;
}

.plita-5 {
  background-image: url(../img/sprite.png);
  background-position: -35px -41px;
  width: 25px;
  height: 31px;
}

.plita-6 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 25px;
  height: 31px;
}

@media screen and (max-width: 1440px) {
  .next-block {
    bottom: 50px;
  }
}

@media screen and (max-width: 1340px) {
  .page-navigation {
    right: 20px;
  }
}

@media screen and (max-width: 1240px) {
  .leaders-form {
    padding: 0 25px;
  }
}

@media screen and (max-width: 1180px) {
  .about-left {
    max-width: 590px;
  }
  .about-macbook {
    width: 520px;
    height: 315px;
  }
  .about-macbook__bg {
    top: 25px;
    left: 60px;
    width: 398px;
    height: 247px;
  }
  .about-macbook__video {
    top: 25px;
    left: 60px;
    width: 398px;
    height: 247px;
  }
  .footer-list__item {
    margin-right: 25px;
  }
  .footer-contacts {
    max-width: 300px;
    margin-right: 0;
  }
  .news-list {
    width: 100%;
    padding: 0 40px;
  }
  .news-list__image {
    width: 418px;
    height: 270px;
  }
}

@media screen and (max-width: 992px) {
  h2.h2 {
    font-size: 42px;
    margin-bottom: 50px;
  }
  .about {
    padding: 70px 0 40px;
  }
  .about-left {
    max-width: 450px;
    margin-right: 20px;
  }
  .about-text {
    margin-left: 0;
  }
  .about-macbook {
    width: 450px;
    height: 270px;
    margin-left: 0;
  }
  .about-macbook__bg {
    top: 21px;
    left: 53px;
    width: 344px;
    height: 215px;
  }
  .about-macbook__video {
    top: 21px;
    left: 53px;
    width: 344px;
    height: 215px;
  }
  .advantages {
    padding: 40px 0 0;
  }
  .advantages__title {
    width: 90%;
  }
  .advantages-btns {
    padding: 0 40px;
  }
  .advantages-btns__link {
    padding-left: 70px;
    padding-right: 70px;
  }
  .advantages-list {
    width: 90%;
  }
  .leaders-thumbs {
    margin: 0 0 30px 0;
  }
  .leaders-list {
    margin-left: 0;
  }
  .leaders-list__content {
    margin-left: 30px;
  }
  .leaders-consultation {
    padding-left: 0;
  }
  .account-types-list {
    margin-bottom: 30px;
  }
  .account-types-list .slick-list:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .account-types-list .slick-list:hover .account-types-list__item:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-list__item {
    margin: 0 0 15px 0;
  }
  .footer-list__item:last-child {
    margin-bottom: 0;
  }
  .news-list__image {
    width: 305px;
    height: 205px;
  }
}

@media screen and (max-width: 767px) {
  h2.h2 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 40px;
  }
  h4.h4 {
    font-size: 16px;
    line-height: 21px;
  }
  .main_slider_wrapper .slider .slick-track:before {
    display: none;
  }
  .next-block {
    display: none;
  }
  .page-navigation {
    display: none;
  }
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about {
    padding: 40px 0;
  }
  .about:before {
    height: 30%;
  }
  .about:after {
    top: 80px;
  }
  .about-left {
    margin: 0 auto;
  }
  .about-right {
    max-width: 100%;
    width: 50%;
    margin: 30px auto 0;
  }
  .advantages__title {
    width: 100%;
    margin-bottom: 250px;
  }
  .account-types-list {
    padding: 0;
  }
  .advantages-list {
    width: 100%;
    margin-bottom: 40px;
  }
  .advantages-list__item {
    padding: 0 10px;
  }
  .advantages-list__item:nth-child(2) {
    margin-top: -150px;
  }
  .advantages-list__text {
    font-size: 19px;
    line-height: 23px;
  }
  .advantages-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 0;
  }
  .advantages-btns__link {
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .advantages-btns__link--primary {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .leaders-thumbs {
    width: auto;
  }
  .leaders-thumbs:before {
    display: none;
  }
  .leaders-list__text {
    width: 100%;
  }
  .leaders-list__text--mobile {
    display: block;
  }
  .leaders-list__text--desktop {
    display: none;
  }
  .leaders-list__image {
    width: 200px;
    height: 200px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 200px;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
  }
  .leaders-list__content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .leaders-list__name {
    font-size: 36px;
  }
  .leaders-list__position {
    font-size: 19px;
    margin-bottom: 25px;
    padding-right: 0;
  }
  .leaders-list__text {
    font-size: 20px;
  }
  .leaders-list__text p {
    font-size: 20px;
  }
  .leaders-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 0;
  }
  .leaders-form__item {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .leaders-form__button {
    width: 100%;
    padding: 0 20px;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-list {
    margin: 0 auto 30px auto;
    text-align: center;
  }
  .footer-contacts {
    max-width: 100%;
    text-align: center;
  }
  .news-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
  }
  .news-list__item {
    margin: 0 auto 30px auto;
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .about-right {
    width: 75%;
  }
  .about-left {
    max-width: 100%;
  }
  .about-macbook {
    width: 280px;
    height: 170px;
    margin: 0 auto 30px auto;
  }
  .about-macbook__bg {
    top: 13px;
    left: 33px;
    width: 214px;
    height: 133px;
  }
  .about-macbook__video {
    top: 13px;
    left: 33px;
    width: 214px;
    height: 133px;
  }
  .advantages__title {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 22px;
  }
  .advantages-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
  }
  .advantages-list__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .advantages-list__item:nth-child(2) {
    margin-top: 0;
  }
  .advantages-btns {
    width: 75%;
  }
  .leaders-list__image {
    width: 120px;
    height: 120px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 120px;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
  }
  .leaders-list__position {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .leaders-list__name {
    font-size: 32px;
  }
  .leaders-form {
    width: 75%;
  }
  .account-types .slick-prev {
    left: 30%;
  }
  .account-types .slick-next {
    right: 30%;
  }
  .account-types-list__item {
    padding: 0 20px;
  }
  .account-types-list .slick-list {
    margin: 0 -20px;
  }
}

@media screen and (max-width: 460px) {
  .about-right {
    width: 100%;
  }
  .advantages-list {
    width: 100%;
  }
  .advantages-btns {
    width: 100%;
  }
  .leaders-list__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .leaders-list__image {
    width: 200px;
    height: 200px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 200px;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    margin: 0 auto 30px auto;
  }
  .leaders-list__content {
    margin-left: 0;
  }
  .leaders-list__text--mobile {
    margin-top: 0;
  }
  .leaders-form {
    width: 100%;
  }
  .account-types .slick-prev {
    left: 20%;
  }
  .account-types .slick-next {
    right: 20%;
  }
  .news-list__image {
    width: 280px;
    height: 200px;
  }
  .news-all__link {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}

/*# sourceMappingURL=../maps/style.css.map */
