/*
================================================================================
|                                     TAGS                                     |
================================================================================
*/
body { margin: 0px; padding: 0px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea { font: 12px "OpenSans", Arial, sans-serif; color: #333; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }

input[type="button"], input[type="submit"], button { cursor: pointer; }

td { margin: 0px; padding: 0px; }

form { padding: 0px; margin: 0px; }

a { color: #000100; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration: none; outline: none; }

input[type=submit], input[type=button] { -webkit-appearance: none; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.services-1 { background-image: url(../img/sprite.png); background-position: -347px -439px; width: 401px; height: 488px; }

.services-2 { background-image: url(../img/sprite.png); background-position: 0px 0px; width: 152px; height: 210px; }

.services-3 { background-image: url(../img/sprite.png); background-position: -162px -220px; width: 175px; height: 209px; }

.services-4 { background-image: url(../img/sprite.png); background-position: -1580px -2003px; width: 586px; height: 700px; }

.services-5 { background-image: url(../img/sprite.png); background-position: -1140px -1481px; width: 430px; height: 512px; }

.services-6 { background-image: url(../img/sprite.png); background-position: -758px -937px; width: 372px; height: 534px; }

.icon-services { display: block; width: 53px; height: 74px; -webkit-background-size: cover; background-size: cover; }

.select2-container { -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; margin: 0; position: relative; vertical-align: middle; }

.select2-container .select2-selection--single { -webkit-box-sizing: border-box; box-sizing: border-box; cursor: pointer; display: block; height: 28px; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-select: none; }

.select2-container .select2-selection--single .select2-selection__rendered { display: block; padding-left: 8px; padding-right: 20px; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.select2-container .select2-selection--single .select2-selection__clear { position: relative; }

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered { padding-right: 8px; padding-left: 20px; }

.select2-container .select2-selection--multiple { -webkit-box-sizing: border-box; box-sizing: border-box; cursor: pointer; display: block; min-height: 32px; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-select: none; }

.select2-container .select2-selection--multiple .select2-selection__rendered { display: inline-block; overflow: hidden; padding-left: 8px; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.select2-container .select2-search--inline { float: left; }

.select2-container .select2-search--inline .select2-search__field { -webkit-box-sizing: border-box; box-sizing: border-box; border: none; font-size: 100%; margin-top: 5px; padding: 0; }

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button { -webkit-appearance: none; }

.select2-dropdown { background-color: white; border: 1px solid #aaa; -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; position: absolute; left: -100000px; width: 100%; z-index: 1051; }

.select2-results { display: block; }

.select2-results__options { list-style: none; margin: 0; padding: 0; }

.select2-results__option { padding: 6px; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-select: none; }

.select2-results__option[aria-selected] { cursor: pointer; }

.select2-container--open .select2-dropdown { left: 0; }

.select2-container--open .select2-dropdown--above { border-bottom: none; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below { border-top: none; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; }

.select2-search--dropdown { display: block; padding: 4px; }

.select2-search--dropdown .select2-search__field { padding: 4px; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button { -webkit-appearance: none; }

.select2-search--dropdown.select2-search--hide { display: none; }

.select2-close-mask { border: 0; margin: 0; padding: 0; display: block; position: fixed; left: 0; top: 0; min-height: 100%; min-width: 100%; height: auto; width: auto; opacity: 0; z-index: 99; background-color: #fff; filter: alpha(opacity=0); }

.select2-hidden-accessible { border: 0 !important; clip: rect(0 0 0 0) !important; height: 1px !important; margin: -1px !important; overflow: hidden !important; padding: 0 !important; position: absolute !important; width: 1px !important; }

.select2-container--default .select2-selection--single { background-color: #fff; border: 1px solid #aaa; -webkit-border-radius: 4px; border-radius: 4px; }

.select2-container--default .select2-selection--single .select2-selection__rendered { color: #444; line-height: 28px; }

.select2-container--default .select2-selection--single .select2-selection__clear { cursor: pointer; float: right; font-weight: bold; }

.select2-container--default .select2-selection--single .select2-selection__placeholder { color: #999; }

.select2-container--default .select2-selection--single .select2-selection__arrow { height: 26px; position: absolute; top: 1px; right: 1px; width: 20px; }

.select2-container--default .select2-selection--single .select2-selection__arrow b { border-color: #888 transparent transparent transparent; border-style: solid; border-width: 5px 4px 0 4px; height: 0; left: 50%; margin-left: -4px; margin-top: -2px; position: absolute; top: 50%; width: 0; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear { float: left; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow { left: 1px; right: auto; }

.select2-container--default.select2-container--disabled .select2-selection--single { background-color: #eee; cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear { display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color: transparent transparent #888 transparent; border-width: 0 4px 5px 4px; }

.select2-container--default .select2-selection--multiple { background-color: white; border: 1px solid #aaa; -webkit-border-radius: 4px; border-radius: 4px; cursor: text; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered { -webkit-box-sizing: border-box; box-sizing: border-box; list-style: none; margin: 0; padding: 0 5px; width: 100%; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered li { list-style: none; }

.select2-container--default .select2-selection--multiple .select2-selection__placeholder { color: #999; margin-top: 5px; float: left; }

.select2-container--default .select2-selection--multiple .select2-selection__clear { cursor: pointer; float: right; font-weight: bold; margin-top: 5px; margin-right: 10px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice { background-color: #e4e4e4; border: 1px solid #aaa; -webkit-border-radius: 4px; border-radius: 4px; cursor: default; float: left; margin-right: 5px; margin-top: 5px; padding: 0 5px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove { color: #999; cursor: pointer; display: inline-block; font-weight: bold; margin-right: 2px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover { color: #333; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline { float: right; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice { margin-left: 5px; margin-right: auto; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove { margin-left: 2px; margin-right: auto; }

.select2-container--default.select2-container--focus .select2-selection--multiple { border: solid black 1px; outline: 0; }

.select2-container--default.select2-container--disabled .select2-selection--multiple { background-color: #eee; cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection__choice__remove { display: none; }

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple { -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple { -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field { border: 1px solid #aaa; }

.select2-container--default .select2-search--inline .select2-search__field { background: transparent; border: none; outline: 0; -webkit-box-shadow: none; box-shadow: none; -webkit-appearance: textfield; }

.select2-container--default .select2-results > .select2-results__options { max-height: 200px; overflow-y: auto; }

.select2-container--default .select2-results__option[role=group] { padding: 0; }

.select2-container--default .select2-results__option[aria-disabled=true] { color: #999; }

.select2-container--default .select2-results__option[aria-selected=true] { background-color: #ddd; }

.select2-container--default .select2-results__option .select2-results__option { padding-left: 1em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__group { padding-left: 0; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option { margin-left: -1em; padding-left: 2em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left: -2em; padding-left: 3em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left: -3em; padding-left: 4em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left: -4em; padding-left: 5em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left: -5em; padding-left: 6em; }

.select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: #5897fb; color: white; }

.select2-container--default .select2-results__group { cursor: default; display: block; padding: 6px; }

.select2-container--classic .select2-selection--single { background-color: #f7f7f7; border: 1px solid #aaa; -webkit-border-radius: 4px; border-radius: 4px; outline: 0; background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%); background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), to(#eeeeee)); background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--classic .select2-selection--single:focus { border: 1px solid #5897fb; }

.select2-container--classic .select2-selection--single .select2-selection__rendered { color: #444; line-height: 28px; }

.select2-container--classic .select2-selection--single .select2-selection__clear { cursor: pointer; float: right; font-weight: bold; margin-right: 10px; }

.select2-container--classic .select2-selection--single .select2-selection__placeholder { color: #999; }

.select2-container--classic .select2-selection--single .select2-selection__arrow { background-color: #ddd; border: none; border-left: 1px solid #aaa; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; height: 26px; position: absolute; top: 1px; right: 1px; width: 20px; background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%); background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeee), to(#cccccc)); background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0); }

.select2-container--classic .select2-selection--single .select2-selection__arrow b { border-color: #888 transparent transparent transparent; border-style: solid; border-width: 5px 4px 0 4px; height: 0; left: 50%; margin-left: -4px; margin-top: -2px; position: absolute; top: 50%; width: 0; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear { float: left; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow { border: none; border-right: 1px solid #aaa; -webkit-border-radius: 0; border-radius: 0; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; left: 1px; right: auto; }

.select2-container--classic.select2-container--open .select2-selection--single { border: 1px solid #5897fb; }

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow { background: transparent; border: none; }

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color: transparent transparent #888 transparent; border-width: 0 4px 5px 4px; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single { border-top: none; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%); background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%); background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(50%, #eeeeee)); background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single { border-bottom: none; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%); background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeee), to(white)); background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0); }

.select2-container--classic .select2-selection--multiple { background-color: white; border: 1px solid #aaa; -webkit-border-radius: 4px; border-radius: 4px; cursor: text; outline: 0; }

.select2-container--classic .select2-selection--multiple:focus { border: 1px solid #5897fb; }

.select2-container--classic .select2-selection--multiple .select2-selection__rendered { list-style: none; margin: 0; padding: 0 5px; }

.select2-container--classic .select2-selection--multiple .select2-selection__clear { display: none; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice { background-color: #e4e4e4; border: 1px solid #aaa; -webkit-border-radius: 4px; border-radius: 4px; cursor: default; float: left; margin-right: 5px; margin-top: 5px; padding: 0 5px; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove { color: #888; cursor: pointer; display: inline-block; font-weight: bold; margin-right: 2px; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover { color: #555; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice { float: right; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice { margin-left: 5px; margin-right: auto; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove { margin-left: 2px; margin-right: auto; }

.select2-container--classic.select2-container--open .select2-selection--multiple { border: 1px solid #5897fb; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple { border-top: none; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple { border-bottom: none; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }

.select2-container--classic .select2-search--dropdown .select2-search__field { border: 1px solid #aaa; outline: 0; }

.select2-container--classic .select2-search--inline .select2-search__field { outline: 0; -webkit-box-shadow: none; box-shadow: none; }

.select2-container--classic .select2-dropdown { background-color: white; border: 1px solid transparent; }

.select2-container--classic .select2-dropdown--above { border-bottom: none; }

.select2-container--classic .select2-dropdown--below { border-top: none; }

.select2-container--classic .select2-results > .select2-results__options { max-height: 200px; overflow-y: auto; }

.select2-container--classic .select2-results__option[role=group] { padding: 0; }

.select2-container--classic .select2-results__option[aria-disabled=true] { color: grey; }

.select2-container--classic .select2-results__option--highlighted[aria-selected] { background-color: #3875d7; color: white; }

.select2-container--classic .select2-results__group { cursor: default; display: block; padding: 6px; }

.select2-container--classic.select2-container--open .select2-dropdown { border-color: #5897fb; }

ul li { list-style: none; }

img { max-height: 100%; }

body { background: #FFFFFF; font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 14px; }

.out { min-width: 320px; overflow: hidden; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; min-height: 100vh; }

.wrapper { max-width: 1180px; margin: auto; padding: 0 20px; }

.content { -webkit-box-flex: 1; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto; padding-top: 76px; }

.footer { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; }

h2 { text-align: center; overflow: hidden; padding: 80px 0 40px; }

h2 span { color: #424242; position: relative; font-size: 28px; font-weight: 700; text-transform: uppercase; }

h2 span:before { position: absolute; top: 17px; left: -368px; background-color: #424242; width: 266px; height: 3px; content: ''; }

h2 span:after { position: absolute; top: 17px; right: -368px; background-color: #424242; width: 266px; height: 3px; content: ''; }

p { line-height: 21px; margin-bottom: 15px; }

.overlay { width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(0, 0, 0, 0.7); position: fixed; opacity: 0; visibility: hidden; z-index: 100; -webkit-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

.overlay.is-visible { opacity: 1; visibility: visible; }

table { width: 100%; background-color: #f0f0f0; border: 3px solid #34b8c0; margin-bottom: 15px; line-height: 1.42857143; }

table td, table th { border: 1px solid #cccccc; padding: 2px; }

table th { color: #6f51c7; }

.header { background-color: #212121; position: fixed; top: 0; left: 0; width: 100%; padding: 13px 0; z-index: 18; height: 76px; }

.header__right { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.header__container { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.header__text { color: #FFF; font-size: 30px; font-weight: 300; margin: 0 0 0 20px; }

.header__text span { font-weight: 700; color: #FFF; }

.header__text b { color: #EA5257; font-weight: 700; }

.header__tel { font-weight: 400; color: #FFF; font-family: "Arial"; font-size: 24px; margin-bottom: 6px; }

.header__tel span { color: #EA5257; }

.header__info { position: relative; margin-right: 50px; }

.header__info:before { position: absolute; left: -52px; top: 3px; content: ''; }

.header__call { font-weight: 400; color: #FFF; font-size: 14px; }

.header__logo { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-top: 2px; }

.header__buter { cursor: pointer; height: 25px; }

.header__buter span { display: block; background-color: #FFF; width: 33px; height: 3px; margin-bottom: 8px; -webkit-transition: all 300ms ease 0s; -o-transition: all 300ms ease 0s; transition: all 300ms ease 0s; }

.header__buter span:last-child { margin-bottom: 0; }

.header__buter.is-active { margin-top: 18px; }

.header__buter.is-active span:first-child { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.header__buter.is-active span:nth-child(2) { display: none; }

.header__buter.is-active span:last-child { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); margin-top: -11px; }

.header__menu { opacity: 0; visibility: hidden; -webkit-transition: all 300ms ease 0s; -o-transition: all 300ms ease 0s; transition: all 300ms ease 0s; position: absolute; top: 0; right: 0; width: 280px; height: 100vh; z-index: 101; background-color: rgba(0, 2, 2, 0.84); -webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%); padding: 20px; -webkit-box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1); box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1); overflow: auto; }

.header__menu.is-open { opacity: 1; visibility: visible; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }

.header .menu__link { color: #FFF; font-size: 16px; line-height: 22px; font-weight: 700; position: relative; }

.header .menu__link:hover:before, .header .menu__link:hover:after { opacity: 1; }

.header .menu__link:hover { color: #EA5257; }

.header .menu__item { margin-bottom: 20px; }

.header .menu__close { cursor: pointer; height: 25px; position: absolute; top: 32px; right: 20px; }

.header .menu__close span { display: block; background-color: #FFF; width: 33px; height: 3px; margin-bottom: 8px; -webkit-transition: all 300ms ease 0s; -o-transition: all 300ms ease 0s; transition: all 300ms ease 0s; }

.header .menu__close span:first-child { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.header .menu__close span:last-child { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); margin-top: -11px; margin-bottom: 0; }

.home { background-image: url("../img/home-bg.png"); background-position: center 0; -webkit-background-size: cover; background-size: cover; min-height: 705px; position: relative; }

.home:before { content: ''; display: block; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(0, 0, 0, 0.65); }

.home__container { position: relative; z-index: 1; }

.home__bottom-button { background-color: transparent; padding: 0; border: 0; width: 47px; height: 47px; }

.home__bottom-button .svg-icon { width: 100%; height: 100%; fill: #FFF; }

.services-list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin: 0 -2px; }

.services-list__item { background-color: #ea5257; width: -webkit-calc(16.66667% - 4px); width: calc(16.66667% - 4px); margin: 0 2px; text-align: center; padding: 37px 0 30px; }

.services-list__image { width: 53px; height: 74px; margin: 0 auto; margin-bottom: 10px; }

.services-list__title { font-size: 14px; line-height: 1.3; font-weight: 700; color: #ffffff; text-transform: uppercase; padding: 0 10px; }

.how-we-work { background-color: #ebeded; }

.how-we-work-list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin: 0 -65px; }

.how-we-work-list__item { width: 33.3333%; padding: 0 65px; position: relative; }

.how-we-work-list__item:before { content: ''; display: block; position: absolute; width: 68px; height: 56px; right: 0px; top: 80px; -webkit-background-size: 100% 100%; background-size: 100% 100%; background-repeat: no-repeat; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 32.635 32.635' style='enable-background:new 0 0 32.635 32.635;' xml:space='preserve' width='512px' height='512px'%3E%3Cpath d='M32.135,16.817H0.5c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h31.635c0.276,0,0.5,0.224,0.5,0.5 S32.411,16.817,32.135,16.817z' fill='%23ea5257' /%3E%3Cpath d='M19.598,29.353c-0.128,0-0.256-0.049-0.354-0.146c-0.195-0.195-0.195-0.512,0-0.707l12.184-12.184L19.244,4.136 c-0.195-0.195-0.195-0.512,0-0.707s0.512-0.195,0.707,0l12.537,12.533c0.094,0.094,0.146,0.221,0.146,0.354 s-0.053,0.26-0.146,0.354L19.951,29.206C19.854,29.304,19.726,29.353,19.598,29.353z' fill='%23ea5257' /%3E%3C/svg%3E"); }

.how-we-work-list__item:last-child:before { display: none; }

.how-we-work-list__image { border: 3px solid #ea5257; width: 230px; background-color: #fff; padding: 35px 0; margin-bottom: 15px; }

.how-we-work-list__image .svg-icon { height: 115px; width: 100%; }

.how-we-work-list__title { color: #424242; font-size: 21.5px; font-weight: 700; margin-bottom: 10px; text-transform: uppercase; }

.how-we-work-list__content p { font-size: 18.5px; font-weight: 300; line-height: 1.46; color: #424242; }

@media screen and (max-width: 992px) { .footer__logo a span { font-size: 30px; }
  .index-content__container { width: 100%; } }

/*# sourceMappingURL=../maps/style.css.map */
