@charset "UTF-8";
/*
================================================================================
|                                     TAGS                                     |
================================================================================
*/
body { margin: 0px; padding: 0px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea { font: 12px "OpenSans", Arial, sans-serif; color: #333; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }

input[type="button"], input[type="submit"], button { cursor: pointer; }

td { margin: 0px; padding: 0px; }

form { padding: 0px; margin: 0px; }

a { color: #000100; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration: none; outline: none; }

input[type=submit], input[type=button] { -webkit-appearance: none; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.services-1 { background-image: url("../img/services/services-1.png"); }

.services-2 { background-image: url("../img/services/services-2.png"); }

.services-3 { background-image: url("../img/services/services-3.png"); }

.services-4 { background-image: url("../img/services/services-4.png"); }

.services-5 { background-image: url("../img/services/services-5.png"); }

.services-6 { background-image: url("../img/services/services-6.png"); }

.icon-services { display: block; width: 53px; height: 74px; -webkit-background-size: contain; background-size: contain; background-repeat: no-repeat; }

.select2-container { -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; margin: 0; position: relative; vertical-align: middle; }

.select2-container .select2-selection--single { -webkit-box-sizing: border-box; box-sizing: border-box; cursor: pointer; display: block; height: 28px; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-select: none; }

.select2-container .select2-selection--single .select2-selection__rendered { display: block; padding-left: 8px; padding-right: 20px; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.select2-container .select2-selection--single .select2-selection__clear { position: relative; }

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered { padding-right: 8px; padding-left: 20px; }

.select2-container .select2-selection--multiple { -webkit-box-sizing: border-box; box-sizing: border-box; cursor: pointer; display: block; min-height: 32px; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-select: none; }

.select2-container .select2-selection--multiple .select2-selection__rendered { display: inline-block; overflow: hidden; padding-left: 8px; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.select2-container .select2-search--inline { float: left; }

.select2-container .select2-search--inline .select2-search__field { -webkit-box-sizing: border-box; box-sizing: border-box; border: none; font-size: 100%; margin-top: 5px; padding: 0; }

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button { -webkit-appearance: none; }

.select2-dropdown { background-color: white; border: 1px solid #aaa; -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; position: absolute; left: -100000px; width: 100%; z-index: 1051; }

.select2-results { display: block; }

.select2-results__options { list-style: none; margin: 0; padding: 0; }

.select2-results__option { padding: 6px; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-select: none; }

.select2-results__option[aria-selected] { cursor: pointer; }

.select2-container--open .select2-dropdown { left: 0; }

.select2-container--open .select2-dropdown--above { border-bottom: none; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below { border-top: none; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; }

.select2-search--dropdown { display: block; padding: 4px; }

.select2-search--dropdown .select2-search__field { padding: 4px; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button { -webkit-appearance: none; }

.select2-search--dropdown.select2-search--hide { display: none; }

.select2-close-mask { border: 0; margin: 0; padding: 0; display: block; position: fixed; left: 0; top: 0; min-height: 100%; min-width: 100%; height: auto; width: auto; opacity: 0; z-index: 99; background-color: #fff; filter: alpha(opacity=0); }

.select2-hidden-accessible { border: 0 !important; clip: rect(0 0 0 0) !important; height: 1px !important; margin: -1px !important; overflow: hidden !important; padding: 0 !important; position: absolute !important; width: 1px !important; }

.select2-container--default .select2-selection--single { background-color: #fff; border: 1px solid #aaa; -webkit-border-radius: 4px; border-radius: 4px; }

.select2-container--default .select2-selection--single .select2-selection__rendered { color: #444; line-height: 28px; }

.select2-container--default .select2-selection--single .select2-selection__clear { cursor: pointer; float: right; font-weight: bold; }

.select2-container--default .select2-selection--single .select2-selection__placeholder { color: #999; }

.select2-container--default .select2-selection--single .select2-selection__arrow { height: 26px; position: absolute; top: 1px; right: 1px; width: 20px; }

.select2-container--default .select2-selection--single .select2-selection__arrow b { border-color: #888 transparent transparent transparent; border-style: solid; border-width: 5px 4px 0 4px; height: 0; left: 50%; margin-left: -4px; margin-top: -2px; position: absolute; top: 50%; width: 0; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear { float: left; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow { left: 1px; right: auto; }

.select2-container--default.select2-container--disabled .select2-selection--single { background-color: #eee; cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear { display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color: transparent transparent #888 transparent; border-width: 0 4px 5px 4px; }

.select2-container--default .select2-selection--multiple { background-color: white; border: 1px solid #aaa; -webkit-border-radius: 4px; border-radius: 4px; cursor: text; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered { -webkit-box-sizing: border-box; box-sizing: border-box; list-style: none; margin: 0; padding: 0 5px; width: 100%; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered li { list-style: none; }

.select2-container--default .select2-selection--multiple .select2-selection__placeholder { color: #999; margin-top: 5px; float: left; }

.select2-container--default .select2-selection--multiple .select2-selection__clear { cursor: pointer; float: right; font-weight: bold; margin-top: 5px; margin-right: 10px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice { background-color: #e4e4e4; border: 1px solid #aaa; -webkit-border-radius: 4px; border-radius: 4px; cursor: default; float: left; margin-right: 5px; margin-top: 5px; padding: 0 5px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove { color: #999; cursor: pointer; display: inline-block; font-weight: bold; margin-right: 2px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover { color: #333; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline { float: right; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice { margin-left: 5px; margin-right: auto; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove { margin-left: 2px; margin-right: auto; }

.select2-container--default.select2-container--focus .select2-selection--multiple { border: solid black 1px; outline: 0; }

.select2-container--default.select2-container--disabled .select2-selection--multiple { background-color: #eee; cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection__choice__remove { display: none; }

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple { -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple { -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field { border: 1px solid #aaa; }

.select2-container--default .select2-search--inline .select2-search__field { background: transparent; border: none; outline: 0; -webkit-box-shadow: none; box-shadow: none; -webkit-appearance: textfield; }

.select2-container--default .select2-results > .select2-results__options { max-height: 200px; overflow-y: auto; }

.select2-container--default .select2-results__option[role=group] { padding: 0; }

.select2-container--default .select2-results__option[aria-disabled=true] { color: #999; }

.select2-container--default .select2-results__option[aria-selected=true] { background-color: #ddd; }

.select2-container--default .select2-results__option .select2-results__option { padding-left: 1em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__group { padding-left: 0; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option { margin-left: -1em; padding-left: 2em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left: -2em; padding-left: 3em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left: -3em; padding-left: 4em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left: -4em; padding-left: 5em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option { margin-left: -5em; padding-left: 6em; }

.select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: #5897fb; color: white; }

.select2-container--default .select2-results__group { cursor: default; display: block; padding: 6px; }

.select2-container--classic .select2-selection--single { background-color: #f7f7f7; border: 1px solid #aaa; -webkit-border-radius: 4px; border-radius: 4px; outline: 0; background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%); background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), to(#eeeeee)); background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--classic .select2-selection--single:focus { border: 1px solid #5897fb; }

.select2-container--classic .select2-selection--single .select2-selection__rendered { color: #444; line-height: 28px; }

.select2-container--classic .select2-selection--single .select2-selection__clear { cursor: pointer; float: right; font-weight: bold; margin-right: 10px; }

.select2-container--classic .select2-selection--single .select2-selection__placeholder { color: #999; }

.select2-container--classic .select2-selection--single .select2-selection__arrow { background-color: #ddd; border: none; border-left: 1px solid #aaa; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; height: 26px; position: absolute; top: 1px; right: 1px; width: 20px; background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%); background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeee), to(#cccccc)); background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0); }

.select2-container--classic .select2-selection--single .select2-selection__arrow b { border-color: #888 transparent transparent transparent; border-style: solid; border-width: 5px 4px 0 4px; height: 0; left: 50%; margin-left: -4px; margin-top: -2px; position: absolute; top: 50%; width: 0; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear { float: left; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow { border: none; border-right: 1px solid #aaa; -webkit-border-radius: 0; border-radius: 0; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; left: 1px; right: auto; }

.select2-container--classic.select2-container--open .select2-selection--single { border: 1px solid #5897fb; }

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow { background: transparent; border: none; }

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color: transparent transparent #888 transparent; border-width: 0 4px 5px 4px; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single { border-top: none; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%); background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%); background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(50%, #eeeeee)); background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single { border-bottom: none; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%); background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeee), to(white)); background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0); }

.select2-container--classic .select2-selection--multiple { background-color: white; border: 1px solid #aaa; -webkit-border-radius: 4px; border-radius: 4px; cursor: text; outline: 0; }

.select2-container--classic .select2-selection--multiple:focus { border: 1px solid #5897fb; }

.select2-container--classic .select2-selection--multiple .select2-selection__rendered { list-style: none; margin: 0; padding: 0 5px; }

.select2-container--classic .select2-selection--multiple .select2-selection__clear { display: none; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice { background-color: #e4e4e4; border: 1px solid #aaa; -webkit-border-radius: 4px; border-radius: 4px; cursor: default; float: left; margin-right: 5px; margin-top: 5px; padding: 0 5px; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove { color: #888; cursor: pointer; display: inline-block; font-weight: bold; margin-right: 2px; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover { color: #555; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice { float: right; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice { margin-left: 5px; margin-right: auto; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove { margin-left: 2px; margin-right: auto; }

.select2-container--classic.select2-container--open .select2-selection--multiple { border: 1px solid #5897fb; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple { border-top: none; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple { border-bottom: none; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }

.select2-container--classic .select2-search--dropdown .select2-search__field { border: 1px solid #aaa; outline: 0; }

.select2-container--classic .select2-search--inline .select2-search__field { outline: 0; -webkit-box-shadow: none; box-shadow: none; }

.select2-container--classic .select2-dropdown { background-color: white; border: 1px solid transparent; }

.select2-container--classic .select2-dropdown--above { border-bottom: none; }

.select2-container--classic .select2-dropdown--below { border-top: none; }

.select2-container--classic .select2-results > .select2-results__options { max-height: 200px; overflow-y: auto; }

.select2-container--classic .select2-results__option[role=group] { padding: 0; }

.select2-container--classic .select2-results__option[aria-disabled=true] { color: grey; }

.select2-container--classic .select2-results__option--highlighted[aria-selected] { background-color: #3875d7; color: white; }

.select2-container--classic .select2-results__group { cursor: default; display: block; padding: 6px; }

.select2-container--classic.select2-container--open .select2-dropdown { border-color: #5897fb; }

/* Slider */
.slick-slider { position: relative; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }

.slick-list:focus { outline: none; }

.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; top: 0; left: 0; display: block; }

.slick-track:before, .slick-track:after { display: table; content: ''; }

.slick-track:after { clear: both; }

.slick-loading .slick-track { visibility: hidden; }

.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }

[dir='rtl'] .slick-slide { float: right; }

.slick-slide img { display: block; }

.slick-slide.slick-loading img { display: none; }

.slick-slide.dragging img { pointer-events: none; }

.slick-initialized .slick-slide { display: block; }

.slick-loading .slick-slide { visibility: hidden; }

.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

ul li { list-style: none; }

img { max-height: 100%; }

body { background: #FFFFFF; font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 14px; }

.out { min-width: 320px; overflow: hidden; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; min-height: 100vh; }

.wrapper { max-width: 1180px; margin: auto; padding: 0 20px; }

.content { -webkit-box-flex: 1; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto; padding-top: 76px; }

.footer { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; }

h2 { text-align: center; overflow: hidden; padding: 80px 0 40px; }

h2 span { color: #424242; position: relative; font-size: 28px; font-weight: 700; text-transform: uppercase; }

h2 span:before { position: absolute; top: 17px; left: -368px; background-color: #424242; width: 266px; height: 3px; content: ''; }

h2 span:after { position: absolute; top: 17px; right: -368px; background-color: #424242; width: 266px; height: 3px; content: ''; }

h3 { font-size: 24px; color: #212121; text-transform: uppercase; margin-bottom: 20px; }

p { line-height: 21px; margin-bottom: 15px; }

.overlay { width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(0, 0, 0, 0.7); position: fixed; opacity: 0; visibility: hidden; z-index: 100; -webkit-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

.overlay.is-visible { opacity: 1; visibility: visible; }

table { width: 100%; background-color: #f0f0f0; border: 3px solid #34b8c0; margin-bottom: 15px; line-height: 1.42857143; }

table td, table th { border: 1px solid #cccccc; padding: 2px; }

table th { color: #6f51c7; }

@-webkit-keyframes move { 0% { opacity: 1; }
  50% { opacity: .5; }
  100% { opacity: 0; } }

@keyframes move { 0% { opacity: 1; }
  50% { opacity: .5; }
  100% { opacity: 0; } }

@-webkit-keyframes move2 { 0% { opacity: .5; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes move2 { 0% { opacity: .5; }
  50% { opacity: 1; }
  100% { opacity: 0; } }

@-webkit-keyframes move3 { 0% { opacity: 0; }
  50% { opacity: .5; }
  100% { opacity: 1; } }

@keyframes move3 { 0% { opacity: 0; }
  50% { opacity: .5; }
  100% { opacity: 1; } }

.animate-move { -webkit-animation: move 1s linear alternate infinite; animation: move 1s linear alternate infinite; }

.animate-move2 { -webkit-animation: move2 1s linear alternate infinite; animation: move2 1s linear alternate infinite; }

.animate-move3 { -webkit-animation: move3 1s linear alternate infinite; animation: move3 1s linear alternate infinite; }

.header { background-color: #212121; position: fixed; top: 0; left: 0; width: 100%; padding: 13px 0; z-index: 18; height: 76px; }

.header__right { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.header__container { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.header__text { color: #FFF; font-size: 30px; font-weight: 300; margin: 0 0 0 20px; }

.header__text span { font-weight: 700; color: #FFF; }

.header__text b { color: #EA5257; font-weight: 700; }

.header__tel { font-weight: 400; color: #FFF; font-family: "Arial"; font-size: 24px; margin-bottom: 6px; }

.header__tel span { color: #EA5257; }

.header__info { position: relative; margin-right: 50px; }

.header__info:before { position: absolute; left: -52px; top: 3px; content: ''; }

.header__call { font-weight: 400; color: #FFF; font-size: 14px; }

.header__logo { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-top: 2px; }

.header__buter { cursor: pointer; height: 25px; }

.header__buter span { display: block; background-color: #FFF; width: 33px; height: 3px; margin-bottom: 8px; -webkit-transition: all 300ms ease 0s; -o-transition: all 300ms ease 0s; transition: all 300ms ease 0s; }

.header__buter span:last-child { margin-bottom: 0; }

.header__buter.is-active { margin-top: 18px; }

.header__buter.is-active span:first-child { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.header__buter.is-active span:nth-child(2) { display: none; }

.header__buter.is-active span:last-child { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); margin-top: -11px; }

.header__menu { opacity: 0; visibility: hidden; -webkit-transition: all 300ms ease 0s; -o-transition: all 300ms ease 0s; transition: all 300ms ease 0s; position: absolute; top: 0; right: 0; width: 280px; height: 100vh; z-index: 101; background-color: rgba(0, 2, 2, 0.84); -webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%); padding: 20px; -webkit-box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1); box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1); overflow: auto; }

.header__menu.is-open { opacity: 1; visibility: visible; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }

.header .menu__link { color: #FFF; font-size: 16px; line-height: 22px; font-weight: 700; position: relative; }

.header .menu__link:hover:before, .header .menu__link:hover:after { opacity: 1; }

.header .menu__link:hover { color: #EA5257; }

.header .menu__item { margin-bottom: 20px; }

.header .menu__close { cursor: pointer; height: 25px; position: absolute; top: 32px; right: 20px; }

.header .menu__close span { display: block; background-color: #FFF; width: 33px; height: 3px; margin-bottom: 8px; -webkit-transition: all 300ms ease 0s; -o-transition: all 300ms ease 0s; transition: all 300ms ease 0s; }

.header .menu__close span:first-child { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.header .menu__close span:last-child { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); margin-top: -11px; margin-bottom: 0; }

.home { background-image: url("../img/home-bg.png"); background-position: center 0; -webkit-background-size: cover; background-size: cover; min-height: 705px; position: relative; }

.home:before { content: ''; display: block; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(0, 0, 0, 0.65); }

.home__container { position: relative; z-index: 1; }

.home__bottom-button { background-color: transparent; padding: 0; border: 0; width: 47px; height: 47px; display: block; margin: 0 auto; }

.home__bottom-button .svg-icon { width: 100%; height: 100%; fill: #FFF; }

.home__title { font-size: 58.7px; font-weight: 700; line-height: 1.2; text-align: center; color: #ffffff; text-transform: uppercase; padding-top: 140px; margin-bottom: 90px; }

.home__title span { color: #ea5257; }

.home__form { max-width: 945px; margin: 0 auto 70px; }

.home__form-container { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; margin: 0 -8.5px; }

.home__select { -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; }

.home__select .select2-container { height: 100%; }

.home__select .select2-container--default .select2-selection--single { height: 100%; background-color: #ea5257; border: 0; -webkit-border-radius: 0; border-radius: 0; }

.home__select .select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 56px; font-size: 17.7px; font-family: 'Open Sans', sans-serif; font-weight: 300; color: #ffffff; padding-left: 60px; position: relative; }

.home__select .select2-container--default .select2-selection--single .select2-selection__rendered:before { content: ''; display: block; position: absolute; width: 30px; height: 30px; left: 20px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); -webkit-background-size: cover; background-size: cover; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 231.233 231.233' style='enable-background:new 0 0 231.233 231.233;' xml:space='preserve' width='512px' height='512px'%3E%3Cpath d='M230.505,102.78c-0.365-3.25-4.156-5.695-7.434-5.695c-10.594,0-19.996-6.218-23.939-15.842 c-4.025-9.855-1.428-21.346,6.465-28.587c2.486-2.273,2.789-6.079,0.705-8.721c-5.424-6.886-11.586-13.107-18.316-18.498 c-2.633-2.112-6.502-1.818-8.787,0.711c-6.891,7.632-19.27,10.468-28.836,6.477c-9.951-4.187-16.232-14.274-15.615-25.101 c0.203-3.403-2.285-6.36-5.676-6.755c-8.637-1-17.35-1.029-26.012-0.068c-3.348,0.37-5.834,3.257-5.723,6.617 c0.375,10.721-5.977,20.63-15.832,24.667c-9.451,3.861-21.744,1.046-28.621-6.519c-2.273-2.492-6.074-2.798-8.725-0.731 c-6.928,5.437-13.229,11.662-18.703,18.492c-2.133,2.655-1.818,6.503,0.689,8.784c8.049,7.289,10.644,18.879,6.465,28.849 c-3.99,9.505-13.859,15.628-25.156,15.628c-3.666-0.118-6.275,2.345-6.68,5.679c-1.016,8.683-1.027,17.535-0.049,26.289 c0.365,3.264,4.268,5.688,7.582,5.688c10.07-0.256,19.732,5.974,23.791,15.841c4.039,9.855,1.439,21.341-6.467,28.592 c-2.473,2.273-2.789,6.07-0.701,8.709c5.369,6.843,11.537,13.068,18.287,18.505c2.65,2.134,6.504,1.835,8.801-0.697 c6.918-7.65,19.295-10.481,28.822-6.482c9.98,4.176,16.258,14.262,15.645,25.092c-0.201,3.403,2.293,6.369,5.672,6.755 c4.42,0.517,8.863,0.773,13.32,0.773c4.23,0,8.461-0.231,12.692-0.702c3.352-0.37,5.834-3.26,5.721-6.621 c-0.387-10.716,5.979-20.626,15.822-24.655c9.514-3.886,21.752-1.042,28.633,6.512c2.285,2.487,6.063,2.789,8.725,0.73 c6.916-5.423,13.205-11.645,18.703-18.493c2.135-2.65,1.832-6.503-0.689-8.788c-8.047-7.284-10.656-18.879-6.477-28.839 c3.928-9.377,13.43-15.673,23.65-15.673l1.43,0.038c3.318,0.269,6.367-2.286,6.768-5.671 C231.476,120.379,231.487,111.537,230.505,102.78z M115.616,182.27c-36.813,0-66.654-29.841-66.654-66.653 s29.842-66.653,66.654-66.653s66.654,29.841,66.654,66.653c0,12.495-3.445,24.182-9.428,34.176l-29.186-29.187 c2.113-4.982,3.229-10.383,3.228-15.957c0-10.915-4.251-21.176-11.97-28.893c-7.717-7.717-17.978-11.967-28.891-11.967 c-3.642,0-7.267,0.484-10.774,1.439c-1.536,0.419-2.792,1.685-3.201,3.224c-0.418,1.574,0.053,3.187,1.283,4.418 c0,0,14.409,14.52,19.23,19.34c0.505,0.505,0.504,1.71,0.433,2.144l-0.045,0.317c-0.486,5.3-1.423,11.662-2.196,14.107 c-0.104,0.103-0.202,0.19-0.308,0.296c-0.111,0.111-0.213,0.218-0.32,0.328c-2.477,0.795-8.937,1.743-14.321,2.225l0.001-0.029 l-0.242,0.061c-0.043,0.005-0.123,0.011-0.229,0.011c-0.582,0-1.438-0.163-2.216-0.94c-5.018-5.018-18.862-18.763-18.862-18.763 c-1.242-1.238-2.516-1.498-3.365-1.498c-1.979,0-3.751,1.43-4.309,3.481c-3.811,14.103,0.229,29.273,10.546,39.591 c7.719,7.718,17.981,11.968,28.896,11.968c5.574,0,10.975-1.115,15.956-3.228l29.503,29.503 C141.125,178.412,128.825,182.27,115.616,182.27z' fill='%23FFFFFF' /%3E%3C/svg%3E"); }

.home__select .select2-container--default .select2-selection--single .select2-selection__arrow { top: 12px; right: 30px; width: 20px; height: 16px; }

.home__select .select2-container--default .select2-selection--single .select2-selection__arrow b { border: 0; width: 100%; height: 100%; margin: 0; -webkit-background-size: cover; background-size: cover; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='19.906' height='14.907' viewBox='0 0 19.906 14.907'%3E%3Cmetadata%3E%3C%3Fxpacket begin='﻿' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c142 79.160924, 2017/07/13-01:06:39 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about='' /%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill-rule: evenodd; filter: url%28%23filter%29; %7D %3C/style%3E%3Cfilter id='filter' x='511.469' y='461.781' width='19.906' height='14.907' filterUnits='userSpaceOnUse'%3E%3CfeFlood result='flood' flood-color='%23fff' /%3E%3CfeComposite result='composite' operator='in' in2='SourceGraphic' /%3E%3CfeBlend result='blend' mode='luminosity' in2='SourceGraphic' /%3E%3C/filter%3E%3C/defs%3E%3Cpath id='Forma_1_copy' data-name='Forma 1 copy' class='cls-1' d='M511.477,461.775h19.9v1.771h-19.9v-1.771Zm0,6.508h19.9v1.771h-19.9v-1.771Zm0,6.644h19.9V476.7h-19.9v-1.773Z' transform='translate%28-511.469 -461.781%29' /%3E%3C/svg%3E"); }

.home__form-item { width: 33.3333%; padding: 0 8.5px; }

.home__phone { height: 56px; position: relative; }

.home__input { background-color: #fff; font-family: 'Open Sans', sans-serif; font-size: 17.7px; font-weight: 300; font-style: italic; color: #848484; height: 100%; width: 100%; padding-left: 55px; padding-right: 10px; }

.home__btn { padding: 0; font-size: 17.9px; font-family: 'Open Sans', sans-serif; font-weight: 700; color: #ffffff; border: 0; background-color: #ea5257; text-transform: uppercase; width: 100%; height: 100%; -webkit-transition: all 300ms ease; -o-transition: all 300ms ease; transition: all 300ms ease; }

.home__btn:hover { background-color: #212121; }

.home__label { position: relative; display: block; height: 100%; }

.home__label .svg-icon { width: 25px; height: 35px; position: absolute; left: 25px; top: 10px; }

.home__bottom-text { font-size: 24px; font-weight: 300; line-height: 1.21; text-align: center; color: #ffffff; margin-bottom: 40px; }

.services__bottom-text { text-align: center; font-size: 28px; color: #212121; line-height: 1.43; font-weight: 300; text-transform: uppercase; margin-bottom: 30px; }

.services__phone { text-align: center; color: #212121; font-weight: 300; font-size: 28px; line-height: 40px; }

.services__phone span { font-weight: 600; color: #ea5257; }

.services__phone i { font-style: normal; font-weight: 600; color: #212121; }

.services-list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin: 0 -2px 50px; }

.services-list__item { background-color: #ea5257; width: -webkit-calc(16.66667% - 4px); width: calc(16.66667% - 4px); margin: 0 2px; text-align: center; padding: 37px 0 30px; }

.services-list__image { width: 53px; height: 74px; margin: 0 auto; margin-bottom: 10px; }

.services-list__title { font-size: 14px; line-height: 1.3; font-weight: 700; color: #ffffff; text-transform: uppercase; padding: 0 10px; }

.how-we-work { background-color: #ebeded; }

.how-we-work-list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin: 0 -65px; }

.how-we-work-list__item { width: 33.3333%; padding: 0 65px; position: relative; }

.how-we-work-list__item:before { content: ''; display: block; position: absolute; width: 68px; height: 56px; right: 0px; top: 80px; -webkit-background-size: 100% 100%; background-size: 100% 100%; background-repeat: no-repeat; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 32.635 32.635' style='enable-background:new 0 0 32.635 32.635;' xml:space='preserve' width='512px' height='512px'%3E%3Cpath d='M32.135,16.817H0.5c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h31.635c0.276,0,0.5,0.224,0.5,0.5 S32.411,16.817,32.135,16.817z' fill='%23ea5257' /%3E%3Cpath d='M19.598,29.353c-0.128,0-0.256-0.049-0.354-0.146c-0.195-0.195-0.195-0.512,0-0.707l12.184-12.184L19.244,4.136 c-0.195-0.195-0.195-0.512,0-0.707s0.512-0.195,0.707,0l12.537,12.533c0.094,0.094,0.146,0.221,0.146,0.354 s-0.053,0.26-0.146,0.354L19.951,29.206C19.854,29.304,19.726,29.353,19.598,29.353z' fill='%23ea5257' /%3E%3C/svg%3E"); }

.how-we-work-list__item:last-child:before { display: none; }

.how-we-work-list__image { border: 3px solid #ea5257; width: 230px; background-color: #fff; padding: 35px 0; margin-bottom: 15px; }

.how-we-work-list__image .svg-icon { height: 115px; width: 100%; }

.how-we-work-list__title { color: #424242; font-size: 21.5px; font-weight: 700; margin-bottom: 10px; text-transform: uppercase; }

.how-we-work-list__content p { font-size: 18.5px; font-weight: 300; line-height: 1.46; color: #424242; }

.reviews-list__item { margin: 0 5px; }

.reviews-list__container { background-color: #ea5257; height: 333px; -webkit-box-shadow: -0.7px 10px 25px 0 rgba(0, 0, 0, 0.2); box-shadow: -0.7px 10px 25px 0 rgba(0, 0, 0, 0.2); padding: 40px 20px 25px 25px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.reviews-list__container p { font-size: 18.1px; font-style: italic; line-height: 1.33; color: #ffffff; }

.reviews-list .slick-list { margin: 0 -5px; padding-bottom: 25px; }

.reviews-list .slick-prev { position: absolute; left: -65px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); z-index: 1; font-size: 0; padding: 0; border: 0; background-image: url("../img/svg/slick-prev.svg"); width: 42px; height: 42px; background-color: transparent; }

.reviews-list .slick-next { position: absolute; right: -65px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); z-index: 1; font-size: 0; padding: 0; border: 0; background-image: url("../img/svg/slick-next.svg"); width: 42px; height: 42px; background-color: transparent; }

.reviews-list__name { font-size: 22.1px; font-weight: 600; line-height: 1.09; color: #ffffff; margin-bottom: 10px; }

.reviews-list__bottom { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-top: auto; }

.reviews-list__city { font-size: 18.1px; font-style: italic; line-height: 1.33; color: #ffffff; }

.reviews-list__price { font-size: 18.1px; font-weight: 600; line-height: 1.33; color: #ffffff; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.reviews-list__price .svg-icon { width: 25px; height: 25px; display: block; margin-right: 5px; }

.reviews-list__date { font-size: 16.1px; line-height: 1.24; color: #ffffff; }

.citys { background-color: #f8f8f8; }

.citys__bottom-text { text-align: center; font-size: 28px; color: #212121; line-height: 40px; }

.citys__bottom-text span { color: #ea5257; }

.citys-list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -15px 50px; }

.citys-list__item { width: 25%; margin-bottom: 20px; padding: 0 15px; }

.citys-list__link { font-size: 12.1px; line-height: 2.5; color: #212121; text-transform: uppercase; }

.citys-list__link:hover { color: #ea5257; text-decoration: underline; }

.advantages { background-color: #ea5257; }

.advantages h2 span { color: #FFF; }

.advantages h2 span:before, .advantages h2 span:after { background-color: #fff; }

.advantages__bottom-text { font-size: 28px; color: #ffffff; line-height: 40px; margin-bottom: 30px; text-transform: uppercase; text-align: center; }

.advantages__phone { text-align: center; font-size: 28px; color: #ffffff; font-weight: 600; }

.advantages-list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 70px; }

.advantages-list__item { width: 25%; }

.advantages-list__container { -webkit-box-shadow: -0.9px 13px 29px 0 rgba(0, 0, 0, 0.1); box-shadow: -0.9px 13px 29px 0 rgba(0, 0, 0, 0.1); background-image: -webkit-linear-gradient(302deg, #ea5257, #d53f44); background-image: -o-linear-gradient(302deg, #ea5257, #d53f44); background-image: linear-gradient(148deg, #ea5257, #d53f44); border: solid 1px #ea5257; height: 100%; padding: 50px 0 30px; }

.advantages-list__image { text-align: center; margin-bottom: 15px; }

.advantages-list__image .svg-icon { fill: #FFF; width: 110px; height: 100px; }

.advantages-list__title { font-size: 15px; font-weight: 700; text-align: center; color: #ffffff; padding: 0 15px; }

.blog { padding-bottom: 50px; }

.blog-list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -10px; }

.blog-list__item { width: 33.3333%; padding: 0 10px; }

.blog-list__image { height: 234px; margin-bottom: 10px; }

.blog-list__image img { display: block; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.blog-list__category { font-size: 16px; line-height: 2.13; color: #212121; }

.blog-list__title a { font-size: 18px; font-weight: 600; line-height: 1.89; color: #212121; text-transform: uppercase; }

.blog-list__title a:hover { color: #ea5257; }

.blog-list__content p { font-size: 16px; line-height: 1.5; color: #212121; }

.footer { background-color: #212121; padding: 50px 0 25px; }

.footer__container { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.footer__right { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; }

.footer__logo { margin-right: 90px; }

.footer-contacts__social { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.footer-contacts__social li { margin-right: 15px; }

.footer-contacts__social li:last-child { margin-right: 0; }

.footer-contacts__social .svg-icon { width: 40px; height: 40px; }

.footer-contacts__social .svg-icon:hover { opacity: .8; }

.footer-contacts__text { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-bottom: 15px; }

.footer-contacts__text a, .footer-contacts__text span { font-size: 15.1px; font-weight: 300; line-height: 1.22; color: #ffffff; }

.footer-contacts__text .svg-icon { width: 20px; height: 20px; display: block; margin-right: 15px; }

.footer-list__link { font-size: 15px; font-weight: 300; line-height: 2.2; color: #ffffff; }

.footer-list__link:hover { text-decoration: underline; }

.footer-list__item { margin-bottom: 5px; }

.about { background-color: #f8f8f8; padding: 50px 0 52px; }

.about__button { background-color: transparent; padding: 0; border: 0; width: 47px; height: 47px; display: block; margin: 0 auto; outline: none; }

.about__button .svg-icon { width: 100%; height: 100%; fill: #212121; }

.custom-results { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.custom-results img { width: 24px; height: 28px; -o-object-fit: cover; object-fit: cover; margin-right: 10px; }

.custom-results div { font-size: 12.9px; line-height: 1.32; font-family: 'Open Sans', sans-serif; color: #212121; text-transform: uppercase; }

.select2-results__option { border-bottom: 1px solid #e6e6e6; padding: 7px 10px 7px 30px; }

.select2-container--default .select2-results > .select2-results__options { max-height: 280px; }

.section-item { padding-bottom: 80px; }

.live-orders { background-color: #ebeded; }

.live-orders__bottom-text { font-size: 28px; line-height: 1.43; text-align: center; color: #212121; }

.live-orders__bottom-phone span { color: #ea5257; font-weight: 600; }

.live-orders__bottom-phone i { font-style: normal; font-weight: 600; }

.live-orders-wrapper { position: relative; margin-bottom: 60px; }

.live-orders-dots { position: absolute; left: -50px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.live-orders-dots span { display: block; width: 6px; height: 6px; -webkit-border-radius: 50%; border-radius: 50%; background-color: #ea5257; margin-right: 4px; }

.live-orders-dots span:last-child { margin-right: 0; }

.live-orders-list { margin: 0 -5px; }

.live-orders-list__item { padding: 0 5px; outline: none; }

.live-orders-list__container { background-color: #fff; border-top: 7px solid #ea5257; padding: 10px 10px 12px 25px; position: relative; }

.live-orders-list__container:before { content: ''; display: block; position: absolute; width: 129px; height: 154px; right: 0; top: 0; left: 0; bottom: 0; margin: auto; background-image: url("../img/boiler-bg.png"); }

.live-orders-list__category { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-bottom: 10px; position: relative; z-index: 1; color: #ea5257; }

.live-orders-list__category .svg-icon { width: 14px; height: 19px; display: block; margin-right: 10px; fill: #ea5257; }

.live-orders-list__text { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-bottom: 10px; position: relative; z-index: 1; }

.live-orders-list__text:last-child { margin-bottom: 0; }

.live-orders-list__text .svg-icon { width: 14px; height: 19px; display: block; margin-right: 10px; fill: #ea5257; }

.live-orders-list__container--boiler { border-top: 7px solid #7791de; }

.live-orders-list__container--boiler .live-orders-list__category { color: #7791de; }

.live-orders-list__container--boiler .live-orders-list__category .svg-icon, .live-orders-list__container--boiler .live-orders-list__text .svg-icon { fill: #7791de; }

@media screen and (max-width: 992px) { .footer__logo a span { font-size: 30px; }
  .index-content__container { width: 100%; } }

/*# sourceMappingURL=../maps/style.css.map */
