/*
================================================================================
|                                     TAGS                                     |
================================================================================
*/
body { margin: 0px; padding: 0px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea { font: 12px "OpenSans", Arial, sans-serif; color: #333; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }

input[type="button"], input[type="submit"], button { cursor: pointer; }

td { margin: 0px; padding: 0px; }

form { padding: 0px; margin: 0px; }

a { color: #000100; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration: none; outline: none; }

input[type=submit], input[type=button] { -webkit-appearance: none; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

:root { --main-color: #71bf4b; --dark-color: #343434; }

img { max-height: 100%; }

body { font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 14px; background-color: #dddddd; }

.out { min-width: 320px; overflow: hidden; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; min-height: 100vh; position: relative; background-image: -webkit-gradient(linear, left bottom, right top, color-stop(50%, transparent), color-stop(50%, #e7e7e7)); background-image: -webkit-linear-gradient(bottom left, transparent 50%, #e7e7e7 50%); background-image: -o-linear-gradient(bottom left, transparent 50%, #e7e7e7 50%); background-image: linear-gradient(to top right, transparent 50%, #e7e7e7 50%); }

.wrapper { max-width: 1340px; margin: auto; padding: 0 20px; }

h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 0.5rem; color: var(--main-color); }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { margin-bottom: 0.5rem; font-weight: 500; line-height: 1.2; }

h1, .h1 { font-size: 2.5rem; }

@media screen and (max-width: 800px) { h1, .h1 { font-size: 2.0rem; } }

h2, .h2 { font-size: 1.75rem; }

@media screen and (max-width: 800px) { h2, .h2 { font-size: 1.5rem; } }

h3, .h3 { font-size: 1.5rem; }

@media screen and (max-width: 800px) { h3, .h3 { font-size: 1.25rem; } }

h4, .h4 { font-size: 1.25rem; }

@media screen and (max-width: 800px) { h4, .h4 { font-size: 1rem; } }

h5, .h5 { font-size: 1rem; }

@media screen and (max-width: 800px) { h5, .h5 { font-size: 0.75rem; } }

h6, .h6 { font-size: 0.75rem; }

@media screen and (max-width: 800px) { h6, .h6 { font-size: 0.71rem; } }

.content { margin: 60px 0; }

@media screen and (max-width: 800px) { .content { margin: 40px 0; } }

.logo-block { text-align: center; margin-bottom: 60px; }

.logo-block a { display: inline-block; }

@media screen and (max-width: 800px) { .logo-block { margin-bottom: 30px; } }

.section-block { margin-bottom: 60px; background-color: #fff; padding: 40px; -webkit-border-radius: 10px; border-radius: 10px; }

.section-block:last-child { margin-bottom: 0; }

.section-block ol { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; position: relative; margin: 0 -15px; list-style: none; counter-reset: customCounter; }

.section-block ol:before { content: ''; display: block; position: absolute; width: 2px; height: calc(100% + 40px); right: 0; left: 0; bottom: -40px; margin: 0 auto; background-color: var(--main-color); }

.section-block ol li { line-height: 1.4; font-size: 16px; margin: 0 15px 15px; position: relative; color: #9a9a9a; }

.section-block ol li:last-child { margin-bottom: 0; }

.section-block ol li:before { counter-increment: customCounter; content: counter(customCounter) "."; color: var(--dark-color); position: absolute; }

.section-block ol li p { margin-top: 15px; }

.section-block ol li p:first-child { padding-left: 20px; }

@media screen and (max-width: 800px) { .section-block { padding: 20px; margin-bottom: 30px; }
  .section-block ol { -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; }
  .section-block ol:before { display: none; }
  .section-block ol li { font-size: 14px; line-height: 1.2; }
  .section-block ol li p:first-child { padding-left: 15px; } }

.search-form__item { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin-bottom: 30px; }

.search-form__item:last-child { margin-bottom: 0; }

.search-form__input { width: 100%; border: 2px solid #acacac; -webkit-border-radius: 5px; border-radius: 5px; margin-right: 30px; background-image: url("../img/svg/search.svg"); background-repeat: no-repeat; background-position: center left 10px; -webkit-background-size: 20px 20px; background-size: 20px 20px; padding: 9px 15px 9px 40px; font-size: 16px; font-weight: 500; }

.search-form__button { background-color: var(--main-color); border: 0; padding: 3px; -webkit-border-radius: 5px; border-radius: 5px; font-size: 16px; padding: 10px 15px; color: #FFF; font-weight: 400; text-transform: uppercase; }

.search-form__button:hover { background-color: var(--dark-color); }

@media screen and (max-width: 414px) { .search-form__item { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; margin-bottom: 20px; }
  .search-form__input { margin: 0 0 7px; } }

.menu-list { list-style: none; display: -webkit-inline-box; display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; }

.menu-list__item { margin-right: 30px; }

.menu-list__item:last-child { margin-right: 0; }

.menu-list__item--is-active .menu-list__link { background-color: var(--main-color); color: #FFF; cursor: default; }

.menu-list__link { color: #646464; font-size: 16px; padding: 8px 15px; background-color: #f0f0f0; -webkit-border-radius: 5px; border-radius: 5px; display: block; }

.menu-list__link:hover { background-color: var(--main-color); color: #FFF; }

@media screen and (max-width: 800px) { .menu-list { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; border: 1px solid #d2d2d2; -webkit-border-radius: 5px; border-radius: 5px; background-color: #f0f0f0; display: none; }
  .menu-list__item { margin-right: 0; }
  .menu-list__item--is-active .menu-list__link { background-color: transparent; color: #646464; position: relative; }
  .menu-list__item--is-active .menu-list__link:before { content: ''; display: block; position: absolute; width: 20px; height: 20px; left: 8px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); background-image: url("../img/svg/right-arrow.svg"); background-repeat: no-repeat; -webkit-background-size: cover; background-size: cover; }
  .menu-list__item.is-open { display: block; }
  .menu-list__link { background-color: transparent; padding-left: 40px; } }

.menu-placeholder { display: none; border: 1px solid #d2d2d2; -webkit-border-radius: 5px; border-radius: 5px; background-color: #f0f0f0; position: relative; }

.menu-placeholder:before { content: ''; display: block; position: absolute; width: 20px; height: 20px; left: 8px; top: 7px; background-image: url("../img/svg/menu-button.svg"); background-repeat: no-repeat; -webkit-background-size: cover; background-size: cover; }

.menu-placeholder__text { color: #646464; font-size: 16px; padding: 8px 15px 8px 40px; display: inherit; }

@media screen and (max-width: 800px) { .menu-placeholder { display: inline-block; } }

@media screen and (max-width: 800px) { .navigation { position: relative; } }

.menu-is-open .menu-placeholder { display: none; }

.menu-is-open .menu-list { display: inline-block; }

/*# sourceMappingURL=../maps/style.css.map */
