@charset "UTF-8";
/*
================================================================================
|                                     TAGS                                     |
================================================================================
*/
body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  font: 12px "OpenSans", Arial, sans-serif;
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

input[type="button"], input[type="submit"], button {
  cursor: pointer;
}

td {
  margin: 0px;
  padding: 0px;
}

form {
  padding: 0px;
  margin: 0px;
}

a {
  color: #000100;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
}

input[type=submit], input[type=button] {
  -webkit-appearance: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after, .wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url("../fonts/Roboto Condensed Light.eot");
  src: url("../fonts/Roboto Condensed Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto Condensed Light.woff2") format("woff2"), url("../fonts/Roboto Condensed Light.woff") format("woff"), url("../fonts/Roboto Condensed Light.ttf") format("truetype"), url("../fonts/Roboto Condensed Light.svg#Roboto Condensed Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url("../fonts/Roboto Condensed Regular.eot");
  src: url("../fonts/Roboto Condensed Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto Condensed Regular.woff2") format("woff2"), url("../fonts/Roboto Condensed Regular.woff") format("woff"), url("../fonts/Roboto Condensed Regular.ttf") format("truetype"), url("../fonts/Roboto Condensed Regular.svg#Roboto Condensed Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url("../fonts/Roboto Condensed Bold.eot");
  src: url("../fonts/Roboto Condensed Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto Condensed Bold.woff2") format("woff2"), url("../fonts/Roboto Condensed Bold.woff") format("woff"), url("../fonts/Roboto Condensed Bold.ttf") format("truetype"), url("../fonts/Roboto Condensed Bold.svg#Roboto Condensed Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.jq-checkbox {
  top: -1px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #C3C3C3;
  border-radius: 3px;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  cursor: pointer;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 12px;
  height: 12px;
  margin: 2px 0 0 2px;
  border-radius: 2px;
  background: #666;
  -webkit-box-shadow: inset 0 -3px 6px #AAA;
  box-shadow: inset 0 -3px 6px #AAA;
}

.jq-checkbox.focused {
  border: 1px solid #08C;
}

.jq-checkbox.disabled {
  opacity: .55;
}

.jq-radio {
  top: -1px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #C3C3C3;
  border-radius: 50%;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  cursor: pointer;
}

.jq-radio.checked .jq-radio__div {
  width: 10px;
  height: 10px;
  margin: 3px 0 0 3px;
  border-radius: 50%;
  background: #777;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.jq-radio.focused {
  border: 1px solid #08C;
}

.jq-radio.disabled {
  opacity: .55;
}

.jq-file {
  width: 270px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.jq-file input {
  height: auto;
  line-height: 1em;
  cursor: pointer;
}

.jq-file__name {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 0 80px 0 10px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
  box-shadow: inset 1px 1px #F1F1F1;
  font: 14px/32px Arial, sans-serif;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jq-file__browse {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #CCC;
  border-radius: 0 4px 4px 0;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF;
}

.jq-file:hover .jq-file__browse {
  background: #E6E6E6;
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: linear-gradient(#F6F6F6, #E6E6E6);
}

.jq-file:active .jq-file__browse {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
  box-shadow: inset 1px 1px 3px #DDD;
}

.jq-file.focused .jq-file__name {
  border: 1px solid #5794BF;
}

.jq-file.disabled,
.jq-file.disabled .jq-file__name,
.jq-file.disabled .jq-file__browse {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #888;
}

.jq-number {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 36px 0 0;
}

.jq-number__field {
  width: 100px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
}

.jq-number__field:hover {
  border-color: #B3B3B3;
}

.jq-number__field input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 9px;
  border: none;
  outline: none;
  background: none;
  font: 14px Arial, sans-serif;
  color: #333;
  text-align: left;
  /* для Opera Presto */
  -moz-appearance: textfield;
}

.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
  margin: 0;
  /* в каких-то браузерах присутствует отступ */
  -webkit-appearance: none;
}

.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 14px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 1px 1px #FFF;
  cursor: pointer;
}

.jq-number__spin.minus {
  top: auto;
  bottom: 0;
}

.jq-number__spin:hover {
  background: #E6E6E6;
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: linear-gradient(#F6F6F6, #E6E6E6);
}

.jq-number__spin:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
  box-shadow: inset 1px 1px 3px #DDD;
}

.jq-number__spin:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 11px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #999;
  border-left: 5px solid transparent;
}

.jq-number__spin.minus:after {
  top: 5px;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-bottom: none;
  border-left: 5px solid transparent;
}

.jq-number__spin.minus:hover:after {
  border-top-color: #000;
}

.jq-number__spin.plus:hover:after {
  border-bottom-color: #000;
}

.jq-number.focused .jq-number__field {
  border: 1px solid #5794BF;
}

.jq-number.disabled .jq-number__field,
.jq-number.disabled .jq-number__spin {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #888;
}

.jq-number.disabled .jq-number__spin:after {
  border-bottom-color: #AAA;
}

.jq-number.disabled .jq-number__spin.minus:after {
  border-top-color: #AAA;
}

.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
}

.jq-selectbox__select {
  height: 32px;
  padding: 0 45px 0 10px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF;
}

.jq-selectbox__select:hover {
  background: #E6E6E6;
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: linear-gradient(#F6F6F6, #E6E6E6);
}

.jq-selectbox__select:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
  box-shadow: inset 1px 1px 3px #DDD;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #5794BF;
}

.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #888;
}

.jq-selectbox__select-text {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jq-selectbox .placeholder {
  color: #888;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: 1px solid #CCC;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #000;
}

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  border-top-color: #AAA;
}

.jq-selectbox__dropdown {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.jq-selectbox__search {
  margin: 5px;
}

.jq-selectbox__search input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
  box-shadow: inset 1px 1px #F1F1F1;
  color: #333;
  -webkit-appearance: textfield;
}

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px;
}

.jq-selectbox ul {
  margin: 0;
  padding: 0;
}

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  color: #231F20;
}

.jq-selectbox li.selected {
  background-color: #A3ABB1;
  color: #FFF;
}

.jq-selectbox li:hover {
  background-color: #08C;
  color: #FFF;
}

.jq-selectbox li.disabled {
  color: #AAA;
}

.jq-selectbox li.disabled:hover {
  background: none;
}

.jq-selectbox li.optgroup {
  font-weight: bold;
}

.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default;
}

.jq-selectbox li.option {
  padding-left: 25px;
}

.jq-select-multiple {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/18px Arial, sans-serif;
  color: #333;
  cursor: default;
}

.jq-select-multiple.focused {
  border: 1px solid #5794BF;
}

.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #888;
}

.jq-select-multiple ul {
  margin: 0;
  padding: 0;
}

.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.jq-select-multiple li:first-child {
  border-radius: 3px 3px 0 0;
}

.jq-select-multiple li:last-child {
  border-radius: 0 0 3px 3px;
}

.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF;
}

.jq-select-multiple li.disabled {
  color: #AAA;
}

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF;
}

.jq-select-multiple li.optgroup {
  font-weight: bold;
}

.jq-select-multiple li.option {
  padding-left: 25px;
}

input[type='email'].styler,
input[type='password'].styler,
input[type='search'].styler,
input[type='tel'].styler,
input[type='text'].styler,
input[type='url'].styler,
textarea.styler {
  padding: 8px 9px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px Arial, sans-serif;
  color: #333;
}

input[type='search'].styler {
  -webkit-appearance: none;
}

textarea.styler {
  overflow: auto;
}

input[type='email'].styler:hover,
input[type='password'].styler:hover,
input[type='search'].styler:hover,
input[type='tel'].styler:hover,
input[type='text'].styler:hover,
input[type='url'].styler:hover,
textarea.styler:hover {
  border-color: #B3B3B3;
}

input[type='email'].styler:focus,
input[type='password'].styler:focus,
input[type='search'].styler:focus,
input[type='tel'].styler:focus,
input[type='text'].styler:focus,
input[type='url'].styler:focus,
textarea.styler:focus {
  border-color: #CCC;
  border-top-color: #B3B3B3;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

button.styler,
input[type='button'].styler,
input[type='submit'].styler,
input[type='reset'].styler {
  overflow: visible;
  padding: 8px 11px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  outline: none;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF;
  cursor: pointer;
}

button.styler::-moz-focus-inner,
input[type='button'].styler::-moz-focus-inner,
input[type='submit'].styler::-moz-focus-inner,
input[type='reset'].styler::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.styler:not([disabled]):hover,
input[type='button'].styler:not([disabled]):hover,
input[type='submit'].styler:not([disabled]):hover,
input[type='reset'].styler:hover {
  background: #E6E6E6;
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: linear-gradient(#F6F6F6, #E6E6E6);
}

button.styler:not([disabled]):active,
input[type='button'].styler:not([disabled]):active,
input[type='submit'].styler:not([disabled]):active,
input[type='reset'].styler:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
  box-shadow: inset 1px 1px 3px #DDD;
}

button.styler[disabled],
input[type='button'].styler[disabled],
input[type='submit'].styler[disabled] {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #888;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
ul li {
  list-style: none;
}

body {
  background: #FFFFFF;
  font-family: 'Roboto Condensed';
}

body.pixelperfect {
  background: url(../img/pp/pp.jpg) center 0 no-repeat;
  opacity: 0.7;
}

.container {
  min-width: 320px;
  overflow: hidden;
}

.wrapper {
  max-width: 1150px;
  margin: auto;
  padding: 0 20px;
}

h2 {
  color: #134390;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.header {
  padding: 40px 0 39px 0;
}

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 93px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  width: 190px;
  margin-left: 15px;
}

.header__logo img {
  display: block;
  width: 100%;
}

.header__info {
  margin-top: 9px;
}

.header__street {
  font-size: 18px;
  font-weight: 300;
  color: #134390;
}

.header__phones {
  margin-top: 15px;
}

.header__phone {
  color: #134390;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header__phone:last-child {
  margin-bottom: 0;
}

.header .search {
  margin-bottom: 16px;
}

.header .search__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header .search__btn a {
  color: #134390;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
}

.header .search__btn a:hover {
  text-decoration: none;
}

.header .search__input {
  border: none;
  padding: 9px 18px;
  color: #979797;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-weight: 400;
}

.header .search__submit {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Open Sans';
  border: none;
  background-color: #134390;
  border-radius: 4px;
  padding: 8px 18px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.header .search__submit:hover {
  background-color: #d5291e;
}

.header .search__item {
  border-bottom: 1px solid #979797;
}

.header .search__item:last-child {
  margin-left: 10px;
  border-bottom: 1px solid transparent;
}

.header .search__item .jq-selectbox__select {
  color: #979797;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 0;
  background: #eef0f0;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  height: auto;
}

.header .search__item .jq-selectbox__trigger {
  border-left: none;
}

.header .search__item .jq-selectbox__trigger-arrow {
  border: none;
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 10px;
  height: 6px;
  top: 12px;
  right: 18px;
}

.header .search__item .jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid transparent;
}

.header .search__item .jq-selectbox__dropdown {
  font: "Roboto Condensed";
}

.header .search__item .jq-selectbox li:hover {
  background-color: #243e86;
}

.header .search__item--icon {
  position: relative;
}

.header .search__item--icon:before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url(../img/sprite.png);
  background-position: -40px -32px;
  width: 10px;
  height: 10px;
  content: '';
}

.header__city {
  margin-bottom: 10px;
}

.header__city .jq-selectbox__select {
  font-size: 18px;
  font-weight: 400;
  color: #D5291E;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  border: 1px solid transparent;
  border-radius: 0;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  padding: 0 45px 0 0;
}

.header__city .jq-selectbox__trigger {
  border-left: none;
}

.header__city .jq-selectbox__trigger-arrow {
  border: none;
  background-image: url(../img/sprite.png);
  background-position: -20px -16px;
  width: 10px;
  height: 6px;
  top: 12px;
  right: 18px;
}

.header__city .jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid transparent;
}

.header__city .jq-selectbox__dropdown {
  font: "Roboto Condensed";
}

.header__city .jq-selectbox li:hover {
  background-color: #243e86;
}

.nav {
  background-color: #243e86;
  height: 58px;
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.nav__item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-left: 1px solid #485e99;
}

.nav__item:last-child {
  border-right: 1px solid #485e99;
}

.nav__link {
  color: #EEF0F0;
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 15px 15px 5px;
  min-height: 58px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.nav__link:hover {
  background-color: #fcfcfc;
  color: #243e86;
}

.nav__link.is-hover {
  background-color: #fcfcfc;
  color: #243e86;
  border-top: 1px solid #c3c3c3;
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  position: relative;
}

.nav__link.is-hover:before {
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  z-index: 11;
  left: 0;
  background-color: #fff;
  content: '';
}

.nav .dropdown-menu {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fcfcfc;
  border: 1px solid #C3C3C3;
  -webkit-box-shadow: 1px 3.9px 3px rgba(0, 0, 0, 0.06);
  box-shadow: 1px 3.9px 3px rgba(0, 0, 0, 0.06);
  z-index: 10;
  text-align: left;
  -webkit-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
  -webkit-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
  margin-top: -1px;
}

.nav .dropdown-menu__in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 16px;
  margin: 0 -20px;
}

.nav .dropdown-menu__container {
  padding: 0 20px;
}

.nav .dropdown-menu__link {
  font-size: 14px;
  color: #767676;
  font-weight: 400;
}

.nav .dropdown-menu__link:hover {
  opacity: 0.7;
}

.nav .dropdown-menu__item {
  margin-bottom: 5px;
}

.nav .dropdown-menu__item--title {
  margin-bottom: 10px;
}

.nav .dropdown-menu__link--title {
  color: #565656;
  font-weight: 700;
}

.nav .dropdown-menu__link--title:hover {
  opacity: 0.7;
}

.nav .dropdown-menu__block {
  margin-bottom: 35px;
}

.nav .dropdown-menu__block:last-child {
  margin-bottom: 0;
}

.nav .dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.top-slider__image img {
  width: 100%;
}

.top-slider__item {
  position: relative;
}

.top-slider__content {
  position: absolute;
  top: 36%;
  left: 21.5%;
}

.top-slider__text {
  color: #134390;
  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
}

.top-slider__btn {
  margin-top: 108px;
}

.top-slider__btn a {
  color: #FFF;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  background-color: #D5291E;
  border-radius: 25px;
  padding: 15px 55px;
  display: inline-block;
}

.top-slider__btn a:hover {
  background-color: #134390;
}

.top-slider .slick-dots {
  position: absolute;
  top: 59%;
  left: 21.5%;
}

.top-slider .slick-dots li {
  display: inline-block;
  margin-right: 12px;
}

.top-slider .slick-dots li:last-child {
  margin-right: 0;
}

.top-slider .slick-dots li button {
  width: 18px;
  height: 18px;
  padding: 0;
  border: 1px solid #134390;
  border-radius: 50%;
  background: transparent;
  font-size: 0;
  outline: none;
}

.top-slider .slick-dots .slick-active button {
  background: #134390;
}

.offers {
  background-color: #eef0f0;
  padding: 75px 0 69px 0;
}

.offers h2 {
  margin-bottom: 42px;
}

.offers__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.offers__item {
  width: 33.3333%;
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  text-align: center;
}

.offers__in {
  -webkit-box-shadow: 1px 3.9px 3px rgba(0, 0, 0, 0.06);
  box-shadow: 1px 3.9px 3px rgba(0, 0, 0, 0.06);
  background-color: #fcfcfc;
  padding: 25px 5px 17px 5px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.offers__in:hover {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.06);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.06);
}

.offers__icon {
  margin-bottom: 10px;
  min-height: 78px;
}

.offers__ref {
  display: block;
}

.offers__link {
  color: #FFF;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  background-color: #D5291E;
  border-radius: 25px;
  padding: 10px 35px;
  display: inline-block;
}

.offers__link:hover {
  background-color: #134390;
}

.offers__btn {
  margin-top: 25px;
}

.offers h3 {
  color: #D5291E;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 15px;
}

.offers p {
  color: #979797;
  font-size: 14px;
  font-weight: 400;
}

.tasks {
  padding: 75px 0 40px 0;
}

.tasks h2 {
  margin-bottom: 46px;
}

.tasks__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -15px;
}

.tasks__item {
  width: 33.3333%;
  padding: 0 15px;
  margin-bottom: 28px;
}

.tasks__item:nth-child(1), .tasks__item:nth-child(2) {
  width: 33.4%;
}

.tasks__in {
  border: 3px solid #B8B8B8;
  -webkit-box-shadow: 1px 3.9px 3px rgba(0, 0, 0, 0.06);
  box-shadow: 1px 3.9px 3px rgba(0, 0, 0, 0.06);
  padding: 24px 21px;
}

.tasks__image {
  position: relative;
}

.tasks__image span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.tasks__img img {
  display: block;
  width: 100%;
}

.about {
  background-color: #eef0f0;
  padding: 73px 0 84px 0;
}

.about__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.about__company {
  width: 50%;
  padding: 0 15px;
}

.about__reviews {
  width: 50%;
  padding: 0 15px;
}

.about .company__item {
  width: 50%;
  background: #FFF url(../img/gortest-bg.jpg) 0 0 no-repeat;
  height: 293px;
  width: 100%;
  background-size: cover;
  border: 3px solid #FFF;
  -webkit-box-shadow: 1px 3.9px 3px rgba(0, 0, 0, 0.2), inset 0 0 9px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3.9px 3px rgba(0, 0, 0, 0.2), inset 0 0 9px rgba(0, 0, 0, 0.3);
  padding: 65px 70px 60px 40px;
}

.about .company__item p {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 24px;
  width: 50%;
  font-weight: 400;
  color: #463321;
  margin-bottom: 10px;
}

.about .company__item a {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  color: #134390;
  text-decoration: underline;
}

.about .company__item a:hover {
  text-decoration: none;
}

.about .reviews__bg {
  background-image: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0.11) 0%, rgba(255, 255, 255, 0.11) 100%);
  background-image: linear-gradient(315deg, rgba(0, 0, 0, 0.11) 0%, rgba(255, 255, 255, 0.11) 100%);
  border: 3px solid #FFF;
  -webkit-box-shadow: 1px 3.9px 3px rgba(0, 0, 0, 0.2), inset 0 0 9px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3.9px 3px rgba(0, 0, 0, 0.2), inset 0 0 9px rgba(0, 0, 0, 0.3);
  height: 293px;
  border: 3px solid #FFF;
}

.about .reviews__bg img {
  display: block;
  width: 100%;
}

.about .reviews__img {
  height: 100%;
  background: #FFF;
  padding: 54px 58px 0px 90px;
}

.about h2 {
  text-align: left;
  margin-bottom: 20px;
}

.document {
  background-color: #134390;
  padding: 35px 0 37px;
}

.document h2 {
  color: #FFF;
  letter-spacing: -2px;
  margin-bottom: 36px;
}

.document__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.document__item {
  border-bottom: 1px solid #90a7cb;
  margin-right: 30px;
  width: 25%;
}

.document__item:last-child {
  border-bottom: transparent;
  margin-right: 0;
}

.document__input {
  opacity: 0.6;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  border: none;
  background: transparent;
  width: 100%;
  padding: 11px 10px 11px 0;
}

.document__input::-webkit-input-placeholder {
  color: #FFF;
  opacity: 0.6;
}

.document__input::-moz-placeholder {
  color: #FFF;
  opacity: 0.6;
}

.document__input:-moz-placeholder {
  color: #FFF;
  opacity: 0.6;
}

.document__input:-ms-input-placeholder {
  color: #FFF;
  opacity: 0.6;
}

.document__submit {
  border: none;
  background-color: #D5291E;
  border-radius: 25px;
  color: #FFF;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  padding: 10px 15px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.document__submit:hover {
  background-color: #fff;
  color: #D5291E;
}

.menu {
  background-color: #eef0f0;
  padding: 58px 0 17px 0;
}

.menu__in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.menu__container {
  padding: 0 15px;
  width: 25%;
}

.menu__item {
  margin-bottom: 8px;
}

.menu__item--title {
  margin-bottom: 20px;
}

.menu__item--title:hover {
  opacity: 0.7;
}

.menu__link {
  font-size: 13.3px;
  color: #767676;
  font-weight: 400;
}

.menu__link:hover {
  opacity: 0.7;
}

.menu__link--title {
  font-size: 14px;
  color: #231F20;
  font-weight: 700;
}

.menu__block {
  margin-bottom: 33px;
}

.menu__block:last-child {
  margin-bottom: 0;
}

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer__social {
  background-color: #091f41;
  width: 50%;
  padding: 55px 0 46px 0;
  position: relative;
}

.footer__social:before {
  position: absolute;
  left: -1000%;
  top: 0;
  content: '';
  width: 1000%;
  height: 100%;
  background-color: #091f41;
}

.footer__question {
  background-color: #0c2957;
  width: 50%;
  padding: 55px 0 46px 30px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer__question:before {
  position: absolute;
  right: -1000%;
  top: 0;
  content: '';
  width: 1000%;
  height: 100%;
  background-color: #0c2957;
}

.footer .social__title {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.footer .social__list {
  margin-bottom: 64px;
}

.footer .social__item {
  margin-bottom: 20px;
}

.footer .social__item:last-child {
  margin-bottom: 0;
}

.footer .social__link {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  padding-left: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .social__link:hover {
  opacity: 0.7;
}

.footer .social__link--vk {
  background-image: url(../img/sprite.png);
  background-position: -180px -172px;
  width: 30px;
  height: 30px;
}

.footer .social__link--fb {
  background-image: url(../img/sprite.png);
  background-position: -260px -252px;
  width: 30px;
  height: 31px;
}

.footer .social__link--insta {
  background-image: url(../img/sprite.png);
  background-position: -300px -293px;
  width: 30px;
  height: 31px;
}

.footer .social__link--yout {
  background-image: url(../img/sprite.png);
  background-position: -220px -212px;
  width: 30px;
  height: 30px;
}

.footer .social__copy {
  color: #687FA7;
  font-size: 18px;
  font-weight: 400;
}

.footer .question__info {
  width: 38%;
}

.footer .question__title {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.footer .question__form {
  margin-left: 64px;
  width: 62%;
}

.footer .question__item {
  margin-bottom: 10px;
}

.footer .question__specialist {
  margin-bottom: 44px;
}

.footer .question__link--icq {
  background-image: url(../img/sprite.png);
  background-position: -60px -52px;
  width: 30px;
  height: 30px;
}

.footer .question__link--skype {
  background-image: url(../img/sprite.png);
  background-position: -140px -132px;
  width: 30px;
  height: 30px;
}

.footer .question__link--phone {
  background-image: url(../img/sprite.png);
  background-position: -100px -92px;
  width: 30px;
  height: 30px;
}

.footer .question__link {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  padding-left: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.footer .question__link:hover {
  opacity: 0.7;
}

.footer .question__input {
  color: #687FA7;
  font-size: 18px;
  font-weight: 400;
  border: none;
  background: transparent;
  padding: 8px 10px 8px 0;
  font-family: 'Roboto Condensed';
  width: 100%;
}

.footer .question__input::-webkit-input-placeholder {
  color: #687FA7;
}

.footer .question__input::-moz-placeholder {
  color: #687FA7;
}

.footer .question__input:-moz-placeholder {
  color: #687FA7;
}

.footer .question__input:-ms-input-placeholder {
  color: #687FA7;
}

.footer .question textarea {
  resize: none;
  padding: 8px 10px 33px 0;
}

.footer .question__submit {
  border: 1px solid #FFF;
  border-radius: 25px;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  background: transparent;
  display: inline-block;
  padding: 13px 65px;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.footer .question__submit:hover {
  background-color: #fff;
  color: #0c2957;
}

.footer .question__block {
  border-bottom: 1px solid #3d5479;
  margin-bottom: 10px;
}

.footer .question__block:last-child {
  border-bottom: transparent;
  margin: 30px 0 0 0;
}

/*# sourceMappingURL=../maps/style.css.map */
