/*
================================================================================
|                                     TAGS                                     |
================================================================================
*/
body { margin: 0px; padding: 0px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea { font: 12px "OpenSans", Arial, sans-serif; color: #333; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }

input[type="button"], input[type="submit"], button { cursor: pointer; }

td { margin: 0px; padding: 0px; }

form { padding: 0px; margin: 0px; }

a { color: #000100; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration: none; outline: none; }

input[type=submit], input[type=button] { -webkit-appearance: none; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { background: #eef0f6; font-family: 'Baloo Tamma 2', cursive; font-weight: 400; font-size: 14px; }

.out { min-width: 320px; overflow: hidden; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; min-height: 100vh; }

.content { -webkit-box-flex: 1; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto; }

.content form { height: 100vh; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.main-form { max-width: 320px; width: 100%; margin: auto; background-color: #9cb9d1; padding: 30px; color: #222; -webkit-border-radius: 5px; border-radius: 5px; }

.main-form__btn { width: 100%; padding: 7px 20px; text-transform: uppercase; font-weight: 700; font-family: 'Baloo Tamma 2', cursive; -webkit-border-radius: 5px; border-radius: 5px; background-color: #eef0f6; color: #222; border: 0; -webkit-transition: all 300ms ease; -o-transition: all 300ms ease; transition: all 300ms ease; }

.main-form__btn:hover, .main-form__btn:active { background-color: #759cd8; }

.main-form h1 { text-align: center; font-size: 1.5rem; margin-bottom: 1rem; }

.main-form_result { position: relative; margin-bottom: 20px; }

.main-form_result__input { font-family: 'Baloo Tamma 2', cursive; font-size: 14px; font-weight: 700; background-color: #eef0f6; letter-spacing: 1px; height: 30px; color: #000; line-height: 30px; padding: 0 30px 0 15px; -webkit-border-radius: 5px; border-radius: 5px; }

.main-form_result__copy { position: absolute; top: 5px; right: 7px; background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 469.333 469.333' style='enable-background:new 0 0 469.333 469.333;' xml:space='preserve'%3E%3Cpath fill='%23f' d='M330.667,0h-256C51.093,0,32,19.093,32,42.667v298.667h42.667V42.667h256V0z'/%3E%3Cpath d='M394.667,85.333H160c-23.573,0-42.667,19.093-42.667,42.667v298.667c0,23.573,19.093,42.667,42.667,42.667h234.667 c23.573,0,42.667-19.093,42.667-42.667V128C437.333,104.427,418.24,85.333,394.667,85.333z M394.667,426.667H160V128h234.667 V426.667z'/%3E%3C/svg%3E%0A"); -webkit-background-size: contain; background-size: contain; background-repeat: no-repeat; background-color: transparent; width: 20px; height: 20px; border: 0; padding: 2px; }

.main-form_result__tooltip { position: absolute; right: -14px; font-size: 13px; font-weight: 700; top: -55px; background-color: #fff; padding: 10px; -webkit-border-radius: 5px; border-radius: 5px; opacity: 0; visibility: hidden; z-index: 1; -webkit-transition: all 150ms ease; -o-transition: all 150ms ease; transition: all 150ms ease; }

.main-form_result__tooltip.is-copied { opacity: 1; visibility: visible; top: -45px; }

.main-form_result__tooltip:before { content: ""; position: absolute; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 7px solid #fff; bottom: -7px; left: 0; right: 0; margin: 0 auto; }

.main-form-options { margin-bottom: 20px; }

.main-form-options-list__item { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 15px; }

.main-form-options-list__item:last-child { margin-bottom: 0; }

.main-form-options-list__text { font-size: 16px; line-height: 20px; font-weight: 700; }

.main-form-options-list__number { border: 0; height: 30px; line-height: 30px; padding: 0; font-size: 14px; font-weight: 700; width: 50px; text-align: center; background-color: #eef0f6; -webkit-border-radius: 5px; border-radius: 5px; font-family: 'Baloo Tamma 2', cursive; }
